body {
    font-family: sans-serif;
    background: #f9f9f9;
  }
  
  .container {
    max-width: 800px;
    margin: auto;
  }
  
  #cryptoList li {
    list-style: none;
    padding: 10px;
    margin: 5px 0;
    background: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
  }
  
  #cryptoList li:hover {
    background: #f0f0f0;
  }
  
  #loader {
    text-align: center;
    margin: 20px;
    display: none;
  }
  .bottom-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #222;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  .bottom-menu button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
  }
  .bottom-menu button:hover {
    color: #00f0ff;
  }
  
  